@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply px-4;
}

article {
  @apply block mx-auto pt-20 pb-32;
}

article img {
  @apply mx-auto;
}

a.subheading {
  text-decoration: none !important;
  color: unset !important;
}

h1 {
  letter-spacing: -0.03em;
}

.subheading-anchor {
  margin-top: -2em;
  display: inline-block;
  position: absolute;
  width: 1px;
}

.subheading-anchor + a:hover .anchor-icon {
  opacity: 1;
}
.anchor-icon {
  opacity: 0;
  @apply ml-2 text-gray-500;
}

.meta-line {
  @apply flex justify-end items-center mb-8;
}
.meta {
  @apply flex-1 text-gray-400 mr-8;
}
.meta .tag {
  @apply inline-block px-1 rounded-md mr-1 text-sm leading-5 no-underline bg-gray-200 text-gray-400 select-none;
}
.dark .meta .tag {
  @apply bg-gray-400 text-gray-100;
}

.meta .tag:hover {
  @apply text-gray-800;
}
.meta .tag:active {
  @apply bg-gray-400;
}
.meta-line .meta-back {
  @apply text-gray-600;
}

.nav-line {
  @apply flex justify-end items-center flex-row mb-8 text-right;
}
.nav-line .nav-link {
  @apply ml-3 text-gray-600;
}
.nav-line span.nav-link {
  @apply ml-3 text-gray-400 cursor-default;
}

.post-item .post-item-date {
  @apply text-sm text-gray-300;
}
.post-item .post-item-more {
  @apply ml-1 text-gray-600;
}
.post-item .post-item-desc {
  margin-bottom: 0.5em;
  @apply text-gray-400;
}
.post-item .post-item-title {
  @apply no-underline;
  font-weight: 500;
  color: unset;
}

.tooltip .tooltiptext {
  @apply mt-1 bg-gray-600 text-gray-50 p-1 rounded-md;
  visibility: hidden; /* 이벤트가 없으면 툴팁 영역을 숨김 */
  text-align: center;
  border-radius: 6px;
  position: absolute; /* 절대 위치를 사용 */
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible; /* hover 이벤트 발생시 영역을 보여줌 */
}

.activity-monitor {
  display: block;
  @apply w-4 h-4 rounded-sm;
}

.activity-monitor.selected {
  @apply border-2 border-gray-400 border-opacity-20;
}

.activity-monitor.neutral {
  @apply border-2 border-gray-400 border-opacity-10;
}

.activity-monitor.unselected {
  @apply opacity-50;
}

.activity-monitor.intensity-0 {
  @apply bg-gray-50;
}

.activity-monitor.intensity-1 {
  @apply bg-gray-200;
}

.activity-monitor.intensity-2 {
  @apply bg-gray-300;
}

.activity-monitor.intensity-3 {
  @apply bg-gray-400;
}

.activity-monitor.intensity-4 {
  @apply bg-gray-500;
}

.day-indicator {
  line-height: 0;
  @apply text-gray-400;
}

.month-indicator {
  @apply text-gray-400;
}

.filter-tag {
  border-width: 1px;
  @apply ml-1 px-2 py-1 text-gray-400 rounded-md border-gray-100 hover:bg-gray-50;
}

.filter-tag.selected {
  @apply text-white bg-gray-600 border-gray-600;
}
